<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Add Goal</title>
</head>

<body>

    <h2 style="text-align: center;">Current Logged-in user: {{ current_user }}</h2>
    <p style="text-align: center;">Group: {{ group }}</p>

    {% if form %}
    <form method="POST">
        {% csrf_token %} {{ form.as_p }}
        <input type="submit" value="Create Goal">
    </form>
    {% endif %}

</body>

</html>