<!DOCTYPE html>
<html>

<head>
    <style>
        table,
        thead,
        tbody {
            border-collapse: collapse;
            width: 100%;
            text-align: center;
        }
    </style>
</head>

<body>
    <h2 style="text-align: center;">Current Logged-in user: {{ current_user }}</h2>
    <p style="text-align: center;">Group: {{ group }}</p>
    <a href="{% url 'addgoal' %}">Add Goal</a>



    <table border="1">
        <thead>
            <tr>
                <th>
                    User
                </th>
                <th>
                    Weekly Goals
                </th>
                <th>
                    Daily Goals
                </th>
                <th>
                    Verify Goals
                </th>
                <th>
                    Done Goals
                </th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %} {% if user.mygoal.all is not None %} {% for goal in user.mygoal.all %}
            <tr>
                <td>{{ user }}</td>
                {% if goal in weekly_goals %}
                <td>{{ goal.goal_name }} {{ goal.goal_id }}
                    <a href="{% url 'movegoal' goal.goal_id %}">Move goal</a>
                </td>
                {% else %}
                <td></td>
                {% endif %} {% if goal in daily_goals %}
                <td>{{ goal.goal_name }} {{ goal.goal_id }}
                    <a href="{% url 'movegoal' goal.goal_id %}">Move goal</a>
                </td>
                {% else %}
                <td></td>
                {% endif %} {% if goal in verify_goals %}
                <td>{{ goal.goal_name }} {{ goal.goal_id }}
                    <a href="{% url 'movegoal' goal.goal_id %}">Move goal</a>
                </td>
                {% else %}
                <td></td>
                {% endif %} {% if goal in done_goals %}
                <td>{{ goal.goal_name }} {{ goal.goal_id }}
                    <a href="{% url 'movegoal' goal.goal_id %}">Move goal</a>
                </td>
                {% else %}
                <td></td>
                {% endif %}
            </tr>
            {% endfor %} {% endif %} {% endfor %}
        </tbody>
    </table>
</body>

</html>