<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
</head>

<body>
    {% if form %}
    <form action="" method="POST">
        {% csrf_token %} {{ form.as_p }}
        <input type="submit">
    </form>
    {% endif %}
</body>

</html>