<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Move Goal</title>
</head>

<body>
    <h2 style="text-align: center;">Current Logged-in user: {{ current_user }}</h2>
    <p style="text-align: center;">Group: {{ group }}</p>
    <h2>{{ goal.goal_name }}</h2>
    {% if form %}
    <form action="" method="post">
        {% csrf_token %} {{ form.as_p }}
        <input type="submit" value="Move">
    </form>
    {% endif %}

</body>

</html>