<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<body>
    {% if form %}
    <!--    <a href="{% url 'index'%}">Home</a>-->
    {% if form.errors %}
    <p>invalid login credentials</p>
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" required>
        </div>
        <br>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" required>
        </div>
        <br>
        <div>
            <input type="submit">
        </div>
    </form>
    {% else %}
    <p>No form</p>
    {%endif%}
</body>

</html>