<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    {% if form %}
<!--    <a href="{% url 'index'%}">Home</a>-->
    {% if form.errors %}
        <p>invalid login credentials</p>
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        <label for="username">username</label>
        <input type="text" name="username" required><br><br>
        <label for="password">password</label>
        <input type="password" name="password" required><br><br>
        <input type="submit">
    </form>
    {% else %}
    <p>No form</p>
    {%endif%}
</body>
</html>